Task 1: Variables and Data Types

a) Create three variables: one for storing your age (integer), one for your name (string), and one to check if you are a student (Boolean). Print the variables.

In [1]:
age = 25
name = 'Ahmed'
student = True
print(age, name, student)

25 Ahmed True

b) Perform the following operations and print the results:
   - Add 25 to your age variable.
   - Concatenate your name with the string "Smith."
   - Negate the Boolean variable (if True, make it False, and vice versa).

In [2]:
age += 25
name += "Smith"
student = False
print(age, name, student)

50 AhmedSmith False

Task 2: Expressions and Operators

a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables. Create a new variable called area and write an expression to calculate the area. Print the area in the output.

In [3]:
width = 5.5
height = 3.25
area = height * width
print(area)

17.875

b) Create a temperature variable in Celsius. Convert it to Fahrenheit using the formula: F = (C * 9/5) + 32. Store this temperature in a variable called Fahrenheit and print this variable.

In [4]:
temperature = C= 25
Fahrenheit = (C * 9/5) + 32
print(Fahrenheit)

77.0

c) Create a variable called radius and give it a value of 5. Calculate the area of a circle with this radius and store it in a variable called area. Print area at the end of your code. (Use the formula: area = π * radius^2, where π (pi) is approximately 3.14159).

In [5]:
radius = 5
π = 3.14159
area = π * (radius**2)
print(area)

78.53975

Task 3: Introduction to Data Structures

a) Create a list called "fruits" containing the following fruits: "apple," "banana," "orange," "grape," and "kiwi." Print the list.

In [6]:
fruits = ["apple","banana","orange","grape,","kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape,', 'kiwi']

b) Create a tuple named "months" with the names of the first three months of the year. Print the tuple.

In [7]:
months = ('January', 'February', 'March')
print(months)

('January', 'February', 'March')

Task 4: List Manipulation

a) Given the list of numbers below, write a Python program to calculate the sum and average of these numbers. Print both results.
   numbers = [12, 34, 45, 67, 89, 100, 23, 56]

In [15]:
numbers = [12, 34, 45, 67, 89, 100, 23, 56]
i = sum = average = 0
length = len(numbers)
while i < length:
    sum += numbers[i]
    i += 1
average = sum / length

print(sum)
print(average)

426
53.25

b) Remove the first and last elements from the "fruits" list created earlier. Print the updated list

In [9]:
print(fruits)
fruits.pop(0)
fruits.pop(3)
print(fruits)

['apple', 'banana', 'orange', 'grape,', 'kiwi']
['banana', 'orange', 'grape,']